---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Accueil">
	<h1>Bienvenue chez Ô Fleurs</h1>
	<p>La poésie de la nature sauvage, immortalisée en bijoux et créations botaniques.</p>
</MainLayout>
