---
import '../styles/global.css';
const { title } = Astro.props;
---
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{title} | Ô Fleurs</title>
	</head>
	<body>
		<header>
			<div class="header-container">
				<!-- Le Logo à gauche -->
				<div class="logo">
				<a href="/">
					<img src="/images/logo.png" alt="Logo Ô Fleurs" height="200" />
				</a>
				</div>
				
				<!-- Le Menu au centre -->
				<nav>
				<a href="/">Accueil</a>
				<a href="/boutique">Boutique</a>
				<a href="/contact">Contact</a>
				</nav>

				<!-- La Connexion à droite -->
				<div class="user-space">
				<a href="/connexion" class="btn-login">Connexion</a>
				</div>
			</div>
		</header>
		<main>
			<slot /> <!-- C'est ici que le contenu de chaque page s'affichera -->
		</main>
	</body>
</html>