---
import '../styles/global.css';
const { title } = Astro.props;
---
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{title} | Ô Fleurs</title>
	</head>
	<body>
		<header>
			<div class="header-container">
				<!-- Le Logo à gauche -->
				<div class="logo">
				<a href="/">
					<img src="/images/logo.png" alt="Logo Ô Fleurs" width="300" height="400" />
				</a>
				</div>
				
				<!-- Le Menu au centre -->
				<nav>
				<a href="/">Accueil</a>
				<a href="/preservation">Préservation de bouquets</a>
				<a href="/bijoux">Bijoux</a>
				<a href="/presses">Presses à fleurs</a>
				<a href="/cadres">Cadres</a>
				<a href="/contact">Contact</a>
				</nav>

				<!-- La Connexion à droite -->
				<div class="user-space">
					<a href="/connexion" class="icon-link" title="Se connecter">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
							<circle cx="12" cy="7" r="4"></circle>
						</svg>
					</a>
					<a href="/panier" class="icon-link" title="Mon panier">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<circle cx="9" cy="21" r="1"></circle>
							<circle cx="20" cy="21" r="1"></circle>
							<path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
						</svg>
					</a>
				</div>
				
			</div>
		</header>
		<main>
			<slot /> <!-- C'est ici que le contenu de chaque page s'affichera -->
		</main>
	</body>
</html>