---
import ../styles/global.css
const { title } = Astro.props;
---
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{title} | Ô Fleurs</title>
	</head>
	<body>
		<nav>
			<a href="/">Accueil</a>
			<a href="/boutique">Boutique</a>
			<a href="/contact">Qui sommes-nous / Contact</a>
		</nav>
		<main>
			<slot /> <!-- C'est ici que le contenu de chaque page s'affichera -->
		</main>
	</body>
</html>