---
import '../styles/global.css';
const { title } = Astro.props;
---
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{title} | Ô Fleurs</title>
	</head>
	<body>
		<header>
			<div class="header-container">
				<!-- Le Logo à gauche -->
				<div class="logo">
				<a href="/">
					<img src="/images/logo.png" alt="Logo Ô Fleurs" width="300" height="400" />
				</a>
				</div>
				
				<!-- Le Menu au centre -->
				<nav>
				<a href="/">Accueil</a>
				<a href="/preservation">Préservation de bouquets</a>
				<a href="/bijoux">Bijoux</a>
				<a href="/presses">Presses à fleurs</a>
				<a href="/cadres">Cadres</a>
				<a href="/contact">Contact</a>
				</nav>

				<!-- La Connexion à droite -->
				<div class="user-space">
					<a href="/connexion" class="btn-login">Se connecter</a>
					<a href="/inscription" class="btn-login">S'inscrire</a>
				</div>
			</div>
		</header>
		<main>
			<slot /> <!-- C'est ici que le contenu de chaque page s'affichera -->
		</main>
	</body>
</html>